*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
:root{
    --home-page-text-color:#b9c3cf;
    --btn-backgound-color:#ff3400;
    --card-background-color:#00d9ff;
    --second-card-background-color:#2584ff;
    --para-text-color:#918ca4;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:black;
    color: white;
}

.container header .logo{
    display: flex;
    gap: 10px;
}
header .nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
}

header .nav ul li a{
    text-decoration: none;
    color: #d2d0db;
}
header svg{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 0.4rem; */
    padding-top: 1.2rem;
    /* border-bottom:0.001rem solid rgb(244, 244, 244); */
    padding-inline: 2.2rem;
    padding-bottom: 0.6rem;
}
.container .line{
    max-width: 100vw;
    height: 1px;
    background-color: white;
    opacity: 0.3;
}
.hero-section .content .hero-section-heading-tag{
    font-size: 5rem;
    max-width: 530px;
    animation: slide-out 3.4s ease;
   
}
@keyframes slide-out {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.hero-section .content .hero-section-para{
    color:var(--home-page-text-color);
    font-size: 20px;
    letter-spacing: 2px;
    line-height:1.8rem;
}
.hero-section .content .start-btn{
    padding: 17px 60px;
    color: white;
    background-color:var(--btn-backgound-color);
    border-radius: 1.9rem;
    font-size: 1.3rem;
    max-width: 240px;
    cursor: pointer;
    transition:background-color 0.5s ease;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline: 0.7rem; */
}
.hero-section .content{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    padding-left: 20px;
    /* max-width:550px; */
    /* align-items: center; */
}
.hero-section .content .start-btn:hover{
 background-color: #be2d09;
}
.hero-section img{
    width:50%;
    max-width: 550px;
    animation: slide-out 3.4s ease;
}
@media (max-width:1024px) {
    .hero-section{
        margin-top: 1.8rem;
    }
    .hero-section .content .hero-section-heading-tag{
     font-size: 3.6rem;
    
    }
}

.price-section{
 /* margin-bottom: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
    gap: 2.5rem;

}
.input-box{
    /* background-color: rgb(220, 220, 224); */
    background-color: white;
    width: 100%;
    max-width: 600px;
    /* padding: 12px 10px; */
    border-radius: 20px;
    text-align: initial;
    padding-left: 12px;
    /* padding-block: 9px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 20px 12px #e9e2e2;

}
.input-box button{
    padding: 15px 50px;
    border-radius: 20px;
    background-color:var(--btn-backgound-color);
    color: white;
    font-weight:bolder;
    font-size: 15px;
    border: none;
    margin: 4px 3px 4px 0px;
}
input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 65%;
}
input::placeholder{
    color: #918ca4;
}

.price-section{
    animation: slide-out 2.7s ease;
}
/* @keyframes fade-up {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */
.price-section .price-section-para{
    color:#918ca4;
}
.price-section .price-heading{
    font-size: 2.5rem;
    margin: 10px 0px 10px;
}

.price-section .different-price-section{
    display: flex;
    gap: 2.6rem;
    font-weight: bold;
}
 
.price-section .different-price-section li:first-child{
    background-color: #00d9ff;
    padding: 5px 8px;
    border-radius: 1rem;
    color: white;
    font-size: 13px;
}

/* Card sections */


        .box {
            width: 100%;
            max-width: 320px;
            /* height: 500px; */
            /* border: 2px solid black; */
            border-radius: 10px;
            box-shadow: -1px 4px 9px 7px #d7d4d1;
        }

        .card-container{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
             display: flex;
            gap: 2.5rem;
            flex-wrap: wrap;
            margin-top: 1.4rem;
            padding-bottom: 4.7rem;
        }
        .top-section {
            padding-top: 1rem;
            padding-left: 1rem;
        }


        .top {
            background-color: var(--card-background-color);
            color: white;
            padding-top: 1px;
            padding-left: 15px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 16px;

        }

        .top h2 {
            color: white;
            font-size: 50px;
        }

        .top h2 #sub-text {
            font-size: 14px;
            color: rgb(218, 215, 215);
        }

        .top .price {
            font-size: 3.2rem;
        }

        .top .month {
            margin-top: 18px;
            font-size: 12px;
            padding-left: 2px;
        }

        .price-text {
            display: flex;
            align-items: center;
            /* gap: 1rem; */
        }

        .top button {
            border: none;
            background-color: #63cfdc;
            border-radius: 10px;
            color: white;
            font-size: 10px;
            margin-left: 1rem;
            margin-top: 18px;
            padding: 5px 10px;
        }

        .box .card-para {
            padding-bottom: 1rem;
            font-size: 17px;
        }
        .bottom-section{
            padding-bottom: 1rem;
        }
        .bottom-section .fa-check{
            color: #00d9ff;
            font-size: 12px;
            /* margin-top: 1px; */
        }
        .bottom-section ul{
            list-style: none;
            padding: 12px 20px;
        }
        .bottom-section ul li{
            padding-block: 12px;
        }
        .bottom-section button{
            padding: 15px 30%;
            margin-left: 20px;
            border-radius: 20px;
            outline: none;
            border: none;
            border: 1px solid black;
            background-color: white;
            color: black;
            font-weight: 600;
        }
        .bottom-section button:hover{
            background-color: black;
            color: white;
        }
        
        .box2 .top{
            background-color:var(--second-card-background-color);
           
        }
        .box{
            transition: transform 0.4s ease;
        }
        
        .box2{
            transform: scale(1.1);
        }
        .box2:hover{
            transform:scale(1.2);
        }

        .box1:hover ,.box3:hover{
            transform: scale(1.1);
        }

/* media query for hero-section into col-direction */
@media (max-width:767px) {
    .hero-section{
        flex-direction: column;
    }
    .hero-section img {
        width: 100%;
    }
    .hero-section .content .hero-section-heading-tag {
        max-width: 100%;
        text-align: center;
    }
    .hero-section .content{
        justify-content: center;
        align-items: center;
    }
    header .nav{
        display: none;
    }
    header svg{
        display: block;
        fill: #787474;
        width: 40px;
        height: 40px;
    }

}

@media (max-width:665px) {
   .price-section .different-price-section{
       display: grid;
        grid-template-columns: repeat(2, minmax(64px, 70px));
        grid-template-rows: repeat(3, minmax(15px, 20px));
    }
   .price-section .different-price-section li:first-child{
            padding: 2px 11px;
    }
}

/* host section */
.host-cloud-container .heading-para{
    text-align: center;
}
.host-cloud-container .heading-para p{
    color: var(--para-text-color);
    font-size: 18px;
}
.host-cloud-container .heading-para h1{
    font-size: 40px;
    margin: 0px 0px 12px 0px;
}
.host-cloud-container{
    padding-inline: 1em;
    margin-top: 4rem;
}
.graph-container{
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    margin-top:3rem;
    justify-content: center;
    gap: 25px;
    /* margin-inline: 1em; */

}
.graph-container .content h3{
    font-size: 24px;
    margin-bottom: 1em;
}
.graph-container .content p{
    max-width: 540px;
    color: var(--para-text-color);
    font-size: 18px;
    margin-bottom: 1em;
}
.graph-container .content button{
    outline: none;
    border: none;
    background-color: transparent;
    color: #ff3400;
    font-size: 1.4rem;
    font-weight:700;
}
.graph-container .content .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--para-text-color);
    opacity: 0.1;
    margin-bottom: 1em;
}
.graph-container img{
    width: 50%;
}

@media (max-width:766px) {
    .graph-container{
        display: flex;
        flex-direction: column;
    }
    .graph-container .content p{
        max-width: 100%;
        font-size: 20px;
    }
    .graph-container img{
        width: 100%;
        order: 2;
    }
}

/* user-panel */
.user-control-panel{
    background-color: black;
    min-height: 70vh;
    color: white;
    padding-top: 4.4rem;
    margin-top: 9rem;
    padding-inline: 12px;
    padding-bottom: 5rem;
}
.user-control-panel .user-heading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 40px;
}
.user-panel-grid{
    display:grid;
    grid-template-columns: repeat(2,minmax(300px,700px));
    gap: 3.5rem;
    max-width: 1400px;
    margin-inline: auto;
}
.user-control-panel .content-panel{
/* margin-top: 1.5rem; */
max-width: 500px;
display: flex;
flex-direction: column;
gap: 2.4rem;
}
.user-control-panel .content-panel p{
    font-size: 18px;
    color:#7b8588;
    line-height: 28px;
}
.user-control-panel .content-panel h3{
    font-size: 24px;
    margin-bottom: 1rem;
}
    
.user-control-panel .easy-start-updates{
    margin-top: 1rem;
}
.user-control-panel .user-panel-grid img{
    width: 100%;
}
@media (max-width:900px) {
    .user-panel-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .user-control-panel .content-panel{
        max-width: 570px;
        margin-inline: auto;
    }
    .user-control-panel .content-panel h3{
    font-size: 28px;
    /* margin-bottom: 1rem; */
    }
  
    
}
/* profile section */
.profile-section{
    margin-top: 5.5rem;
     max-width:950px;
       margin-inline: auto;
    /* padding-inline: 20px; */
}
.profile-section .about-profile{
text-align: center;
}
.profile-section .about-profile h1{
    font-size: 2.5rem;
}
.profile-section .about-profile p{
    font-size: 18px;
    color: var(--para-text-color);
    margin-top: 12px;
}
.profile-grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* height: 500px; */
    background-color: white;
    box-shadow: 0px 1px 10px 10px rgb(244, 244, 244);
    margin-top: 6rem;
    gap: 2rem;
    margin-inline:20px ;
    justify-content: center;
    /* align-items:center; */
    border-radius: 5px;
}
.img .testimonial-img{
    position:relative;
    width: 100%;
}
.img{
    position: relative;
    padding: 1.4rem;
}
.img .circle{
    width: 50px;
    height: 50px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right:-3px;
}
.testimonial{
    margin-top: 5rem;
    margin-left: 1.5rem;
}
.testimonial p{
    font-size: 21.6px;
    line-height: 30px;
    padding-bottom: 20px;
    color:#5c5577;
    font-style:italic;

}
.testimonial .company-name{
    margin-left: 3rem;
    
}
@media (max-width:770px) {
    .profile-grid-container{
        display: grid;
        grid-template-columns: repeat(1,minmax(200px,570px));
        justify-content: center;
        align-items: center;
    }
    .testimonial {
        margin-top: 0;
        padding-bottom: 5rem;
    }
    .img .testimonial-img{
        /* margin-inline: auto; */
    }
}

/* get start section */

.get-start-section{
    margin-top: 5.2rem;
    max-width: 1000px;
    /* height: 200px; */
    background-color: #2584ff;
    margin-inline: auto;
    color: white;
    padding-top: 2.4rem;
    padding-left: 2.4rem;
    padding-bottom: 2rem;
    padding-right: 1.4rem;
    position: relative;
    border-radius: 5px;
    
}
.get-start-section h2{
    font-size: 30px;
    margin-bottom: 12px;
}
.get-start-section button{
    outline: none;
    color: white;
    border: none;
    color: black;
    border-radius: 25px;
    background-color:#00d9ff;
    color: white;
    margin-right: 20px;
    min-width: 200px;
    font-size: 18px;
    padding: 20px 20px;
    cursor: pointer;
}
    .get-start-section p{
        font-size: 17px;
    }
    .get-start-section .para-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
        /* justify-content:space-evenly; */
    }
@media (max-width:765px) {
    .get-start-section .para-btn{
        flex-direction: column;
    }
    .get-start-section{
        text-align: center;
    }
}
footer{
    margin-top: -3rem;
    min-height: 300px;
    /* background-color:#7b858b; */
    background-color: #232323;
    color: white;
}
.footer-grid-container{
    display: grid;
    grid-template-columns: repeat(5,minmax(100px,200px));
    padding-top: 7rem;
    justify-content: center;
    /* padding-inline: 12px; */
    /* margin-left: 12px; */
    gap:1rem;
}
.footer-grid-container .items h2{
    font-size: 15px;
    padding-bottom: 12px;
}
.footer-grid-container .items ul{
    list-style: none;
    color: #777777;
    font-size: 15px;
    cursor: pointer;
    /* padding-left: 1rem; */
}
.footer-grid-container .items ul li:hover{
    color: white;
}
.footer-grid-container .items ul li{
   padding: 2px 0px;
}
.footer-grid-container .items .logo{
    font-size: 1.7rem;
    padding-bottom: 12px;
}
@media (max-width:765px) {
    footer .footer-grid-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: flex-start;
    
}
.footer-grid-container .items .hide-on-sm li{
        display: none;
}
 .footer-grid-container  .fav-icon{
    order: 6;
    text-align: center;
 }
 .footer-grid-container .items .logo {
    font-size: 3.2rem;
    
}
.footer-grid-container .items  h2{
    font-size: 25px;
    padding-left: 1rem;
}
.footer-grid-container .items{
    border-bottom: 1px solid rgb(75, 74, 74);
    padding-block: 12px;
}
.footer-grid-container .items ul{
    padding-left: 1rem;
}
.footer-grid-container .fav-icon{
    border-bottom: none;
}

}