
/* CSS Query */

/* Hero section query */
@media (min-width:1144px) {
    html {
        font-size: 100%;
    }
}

   
@media (max-width:1070px) {
    html {
        font-size: 80%;
    }

    .hero_section .discount_price .left h2 {
        font-size: 2rem;
    }

    .hero_section .discount_price {
        max-width: 100%;
    }
}

@media (max-width:945px) {
    html {
        font-size: 60%;
    }
}
/* sale price */
@media (max-width:736px) {

    .hero_section .list_items,
    .hero_section .line,
    header nav {
        display: none;
    }

    header {
        /* display: flex; */
        justify-content: space-between;
        padding-inline: 2rem;
    }

    .hero_section .discount_price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    .hero_section .discount_price .right_img img {
        width: 100%;
        max-width: 690px;
    }

    .hero_section .discount_price .left {
        /* width: 100%; */
        max-width: none;
        margin-inline: auto;
    }

    .hero_section .discount_price .left h2 {
        font-size: 3rem;
    }

    .hero_section {
        padding-inline: 0;
    }

    .hero_section .discount_price {
        margin-top: 0;
    }
    .sales_content .sales_content_time {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .sales_content .left_right_arrow {
        display: none;
    }
    .Buy_now .price{
         flex-direction: column;
    }
    .Buy_now .price .right_side_img {
        order: 1;
    }
    .Buy_now .price .left_side{
        order: 2;
    }
    /* grid section query */
    .sales_price .sales_content .grid_container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 1rem;

    }   
    .grid_container .play_station{
       
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid_container .women_collections{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        gap: 1rem;
        position: relative;
        background-color: #000;
    }
    .grid_container .speaker{
        justify-content: space-around;
    }

    /* services section */
    .services_section{
        flex-wrap: wrap;
    }

.sales_price .sales_content .explore_product
    {
        overflow-x:scroll;
        flex-wrap: nowrap;
    }

    /* footer */
    .footer_container{
        display: grid;
        grid-template-columns: repeat(1, minmax(6rem, 20rem));
        grid-template-rows: repeat(5, minmax(12rem, 18rem));
        justify-content: center;
    }


}


/* category_section query */

@media (max-width:680px) {
    .sales_content .category_items {
        overflow-x:scroll;
    }
    body{
        margin-inline:0.3rem ;
    }
}
@media (max-width:370px) {
     .Buy_now .price .right_side_img img{
        width: 70%;
        
    }
}